<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>
<body>

    <form th:action="@{/actual_weather}" method="get">
        <p>Enter City: <input type="text" th:name="city"></p>
        <p th:text="${error}" style="color: red" />

        <input type="submit" value="Get Country">
    </form>
    <br><br>

    <table>
        <tr>
            <td><strong>City:</strong></td>
            <td><p th:text="${title}" /> </td>
        </tr>
        <tr>
            <td><strong>weather State:</strong></td>
            <td><img th:width="32px" th:if="${actualWeather != null}" th:src="@{|https://www.metaweather.com/static/img/weather/${actualWeather.weatherStateAbbr}.svg|}" /></td>
        </tr>
        <tr>
            <td><strong>Wind Direction Compass:</strong></td>
            <td><p th:text="${actualWeather?.windDirectionCompass}" /></td>
        </tr>
        <tr>
            <td><strong>Applicable Date:</strong></td>
            <td><p th:text="${actualWeather?.applicableDate}" /></td>
        </tr>
        <tr>
            <td><strong>Min Temp:</strong></td>
            <td><p th:text="${actualWeather?.minTemp}" /></td>
        </tr>
        <tr>
            <td><strong>Max Temp:</strong></td>
            <td><p th:text="${actualWeather?.maxTemp}"/> </td>
        </tr>
        <tr>
            <td><strong>The Temp:</strong></td>
            <td><p th:text="${actualWeather?.theTemp}"/> </td>
        </tr>
        <tr>
            <td><strong>Wind Speed:</strong></td>
            <td><p th:text="${actualWeather?.windSpeed}"/> </td>
        </tr>
        <tr>
            <td><strong>Wind Direction:</strong></td>
            <td><p th:text="${actualWeather?.windDirection}"/> </td>
        </tr>
        <tr>
            <td><strong>Air Pressure:</strong></td>
            <td><p th:text="${actualWeather?.airPressure}"/> </td>
        </tr>
        <tr>
            <td><strong>Humidity:</strong></td>
            <td><p th:text="${actualWeather?.humidity}"/> </td>
        </tr>
        <tr>
            <td><strong>Visibility:</strong></td>
            <td><p th:text="${actualWeather?.visibility}"/> </td>
        </tr>
        <tr>
            <td><strong>Predictability:</strong></td>
            <td><p th:text="${actualWeather?.predictability}"/> </td>
        </tr>

    </table>

<!--    <table>-->
<!--        <thead>-->
<!--            <tr>Title</tr>-->
<!--            <tr>Location Type</tr>-->
<!--            <tr>Woeid</tr>-->
<!--            <tr>Latt</tr>-->
<!--        </thead>-->

<!--        <tbody>-->
<!--            <tr th:each="c : ${countries}">-->
<!--                <td th:text="${c.title}"/>-->
<!--                <td th:text="${c.locationType}" />-->
<!--                <td th:text="${c.woeid}" />-->
<!--                <td th:text="${c.lattLong}" />-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->

</body>
</html>